.App {
  display: flex;
  justify-content: center;
  width: 80%;
  border: 5px solid rgb(0, 0, 0); 
  margin: 10% 0% 0% 10%;
  padding: 2% 2% 2% 2%;
}
.list {
  display: flex;
  justify-content: center;
  width: 100%;
}